[Unit]

Description=MTProxy

After=network.target



[Service]

Type=simple

WorkingDirectory=/root/MTProxy/objs/bin

ExecStart=/root/MTProxy/objs/bin/mtproto-proxy -u nobody --aes-pwd proxy-secret proxy-multi.conf -M 16 -p 6555 -H 443 -P 8994acfab72e80cff786789e5df17dfc -S 00000000000000000000000000000000 -S dd000000000000000000000000000000

Restart=on-failure



[Install]

WantedBy=multi-user.target
