[Unit]

Description=MTProxy

After=network.target



[Service]

Type=simple

WorkingDirectory=/root/MTProxy/objs/bin

ExecStart=/root/MTProxy/objs/bin/mtproto-proxy -u nobody --aes-pwd proxy-secret proxy-multi.conf -M 16 -p 6555 -H 443 -P ee584cfab733e1c4ea169a79f91350e0 -S 8b2394ad2ecef7e607d5f52b31a45768 -S 00000000000000000000000000000000 -S dd000000000000000000000000000000 

Restart=on-failure



[Install]

WantedBy=multi-user.target
